body {
  background-color: #303030;
  font-family: 'Courier New', Courier, monospace;
}
h2 {
  color: rgb(235, 235, 235);
  font-weight: 400;
  font-size: 1.2rem;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}
.btn {
  background-color: #f8c040;
  display: flex;
  align-items: center;
  max-width: 220px;
  border-radius: 3px;
}
a {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 5px;
}
a:hover {
  color: #fff;
}
.btn:hover {
  background-color: #af882c;
}
